body{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
  /*padding and margin and border doesnt affect the elements to ensure divs align up*/
}